In [ ]:
import pandas as pd

pandas:      
*used for data manipulation (Data cleaning,Organizing data)     
*creaetes dataframes from excel,csv,txt,DBs     
*Dataframes (rows and columns readable by python)     
*Data cleaning by dropping or replacing with mean    
*visualize the data   
*import pandas as pd

series

In [ ]:
names = [ "lahari","vijaya","kavya"]
index=[20,21,22]
Ser1=pd.Series(names,index)
print(Ser1)

20    lahari
21    vijaya
22     kavya
dtype: object